{% extends "layout.html" %}
{% block body %}
<h2>Home</h2>

<p>Welcome to GitPwnd! GitPwnd is a network penetration tool that provides 
command and control functionality, that is, sending commands to compromised 
machines and receiving their output, using <code>git</code> repos.</p>

<p>For more details, see the <a href="https://www.blackhat.com/us-17/briefings.html#developing-trust-and-gitting-betrayed">BlackHat USA 2017</a>
talk or <a href="https://github.com/nccgroup/gitpwnd">the source on GitHub</a>.</p>

<p>See information extracted from compromised machines by clicking on "Nodes" in the top right.

{% endblock %}
